[submodule "app/extensions/languagetool"]
	path = app/extensions/languagetool
	url = https://github.com/critica-tech-lab/loica-extension-languagetool.git
[submodule "app/extensions/ai-proofreader"]
	path = app/extensions/ai-proofreader
	url = https://github.com/critica-tech-lab/loica-extension-ai-proofreader.git
[submodule "app/extensions/translation"]
	path = app/extensions/translation
	url = https://github.com/critica-tech-lab/loica-extension-translation.git
